$yellow  : #ECD078
$orange  : #D95B43
$red     : #C02942
$purple  : #542437
$blue    : #53777A
$lgray   : #999
$dgray   : #303030
$black   : rgba(4,0,1,1)
$blackt  : rgba(4,0,1,0)

$path : '../../../../images/chapbooks/prepare-to-die/'

@import "../vendor/reset"
@import "../vendor/bourbon/bourbon"
@import "susy"
@import "mixins"
@import "typography"

$susy: ( columns: 12, gutters: .5, gutter-position: inside )

@import url(http://fonts.googleapis.com/css?family=Oswald)
@import url(http://fonts.googleapis.com/css?family=Merriweather)

@mixin oswald($size: 1, $weight: 400)
  font-family: 'Oswald', sans-serif
  font-weight: $weight
  @include font-size($size)
  text-transform: uppercase
  color: white

@mixin merri($size: 1, $weight: 400)
  font-family: 'Merriweather', serif
  font-weight: $weight
  @include font-size($size)
  color: white

body
  margin: 0
  background: rgba(4,0,1,1)
  overflow-x: hidden

.container
  @include container(70em)
  position: relative

.twelve
  @include span(12 of 12)

.six
  @include span(6 of 12)

/*
 * NAV
 */

nav
  display: none
  width: 100%
  height: 40px
  position: fixed
  top: 0px
  left: 0px
  background-color: $black
  z-index: 1000

  .nav-title
    margin-left: 2rem

    h1
      @include oswald(1.8)
      display: inline-block
      color: white

    h2
      @include oswald(1.4)
      display: inline-block
      position: relative
      top: -3px
      color: $red
      margin-left: 1rem

  .nav-toc
    height: 40px
    position: absolute
    top: 0
    left: 50%
    margin-left: -200px
    background-color: $black
    overflow: hidden

    a
      display: block
      position: relative
      @include vollkorn(1)
      margin: 0 2rem 0 2rem
      padding: 10px 0 6px 0

    a.nav-item-lit
      color: white

    .nav-menu
      width: 20px
      height: 20px
      position: fixed
      top: 11px
      margin-left: 8px
      padding-left: 1.25em

      &:hover
        cursor: pointer

    .nav-menu:before
      content: ""
      position: absolute
      left: 0
      top: 0.25em
      width: 1em
      height: 0.15em
      background: white
      box-shadow: 0 0.25em 0 0 white, 0 0.5em 0 0 white

  .nav-open
    height: auto

  .nav-cartridge
    position: absolute
    top: 0px
    right: 2rem

    h2
      @include oswald(1)
      color: white
      margin-top: 9px

/*
 * TITLE
 */

.prepare-header
  height: 500px

  div
    width: 100%
    height: 30%
    position: relative
    overflow: hidden
    -webkit-transform-style: preserve-3d
    -moz-transform-style: preserve-3d
    transform-style: preserve-3d

    h1
      @include oswald(10)
      color: white
      position: relative
      display: block
      margin-left: 4rem
      top: 50%
      -webkit-transform: translateY(-52%)
      -moz-transform: translateY(-52%)
      transform: translateY(-52%)

  .ptd-header-prepare
    background: url($path+'header_title_2.jpg')
    background-size: cover

  .ptd-header-to
    background: url($path+'header_title_1.jpg')
    background-size: cover

    h2
      position: absolute
      top: 30%
      right: 4rem
      @include oswald(2)
      color: white

    h3
      position: absolute
      bottom: 30%
      right: 4rem
      @include oswald(1.2)
      color: white

  .ptd-header-die
    background: url($path+'header_title_3.jpg')
    background-size: cover

/*
 * TOC
 */

.prepare-toc
  @include px-rem(padding-top, 16)
  @include px-rem(padding-bottom, 16)

  h1
    @include oswald

  a
    display: block
    @include vollkorn(1)
    margin-top: 1rem

  .six
    white-space: nowrap

    &:last-of-type
      height: 500px

  .respawn-campfire
    display: block
    width: 500px
    margin: 0 auto

  .ptd-announce
    @include oswald(8)
    position: relative

    &:first-of-type
      margin-top: -10rem

    &:last-of-type
      margin-top: 10rem

/*
 * CONTENT
 */

@mixin setbg($url: '')
  background: linear-gradient(to right,$black,$blackt 20%,$blackt 80%,$black),linear-gradient($black,$blackt 20%,$blackt 80%,$black),url($path+$url)
  background-size: 1500px 1500px
  background-position: 50%
  background-repeat: no-repeat

@mixin setbgwide($url: '')
  background: url($path+$url)
  background-position: 50%
  background-repeat: no-repeat

.prepare-content
  height: 1500px
  background: rgba(4,0,1,1)
  position: relative
  overflow: visible

  &:focus
    outline: 0

  p
    @include merri(0.9)
    line-height: 1.5rem

.ptd-squared
  @include span(8 of 12)
  width: 300px
  position: relative

  p
    text-align: justify
    margin-bottom: 0
    margin-bottom: -1.5rem

  p:nth-child(n+2):after
    content: ""
    display: inline-block
    width: 100%

  p:nth-of-type(1)
    float: left
    @include oswald(5)
    line-height: 3rem
    position: relative
    float: left
    top: 4px
    margin-right: 4px

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 38px

  p:last-of-type
    text-align: left

.ptd-paragraphs
  float: left
  position: relative

  p:nth-of-type(1)
    @include oswald

  .ptd-paragraphs-fix
    @include merri(0.9)
    text-transform: none

/*
 * EACH OF THESE WALLS IS GRANDER
 */

#each-of-these-walls-is-grander
  height: 906px
  @include setbgwide('each-of-these-walls-is-grander.jpg')

.each-of-these-walls-is-grander
  @extend .ptd-squared
  @include push(7)
  margin-top: 8rem

/*
 * UNDER HYPNOSIS EYES SPINNING
 */

#under-hypnosis-eyes-spinning
  @include setbg('under-hypnosis-eyes-spinning.jpg')
  padding-top: 20px

.under-hypnosis-eyes-spinning
  @extend .ptd-squared
  @include push(2)
  margin-top: 29rem

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 52px

/*
 * MY SHOULDERS CURVE LIKE ELBOWS IN A NUTSHELL ENCASEMENT
 */

#my-shoulders-curve-like-elbows-in-a-nutshell-encasement
  height: 850px

.my-shoulders-curve-like-elbows-in-a-nutshell-encasement
  @extend .ptd-paragraphs
  @include push(4)
  margin-top: 18rem

  img
    position: absolute
    top: -600px
    left: -340px

/*
 * I AM THE CALLOW PARTNER
 */

#i-am-the-callow-partner
  @include setbgwide('i-am-the-callow-partner.jpg')
  height: 1000px

.i-am-the-callow-partner
  @extend .ptd-squared
  @include push(5.5)
  margin-top: 24rem

/*
 * MY BROTHERS ARE NPCS
 */

#my-brothers-are-npcs
  height: 1200px
  @include setbgwide('my-brothers-are-npcs.jpg')

.my-brothers-are-npcs
  @extend .ptd-squared
  @include push(8)
  margin-top: 8rem

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 65px

/*
 * FLEETS OF LABOR MADE THIS MARKED INFRASTRUCTURE
 */

#fleets-of-labor-made-this-marked-infrastructure
  height: 1000px

.fleets-of-labor-made-this-marked-infrastructure
  @extend .ptd-paragraphs
  margin-top: 25rem

  p
    opacity: 0
    transition: opacity 1s

  .fleets-show
    opacity: 1

/*
 * SHARPEN YOUR WEAPON SWING TWO HANDS
 */

#sharpen-your-weapon-swing-two-hands
  @include setbgwide('sharpen-your-weapon-swing-two-hands.jpg')
  height: 1125px

.sharpen-your-weapon-swing-two-hands
  @extend .ptd-squared
  @include push(9)
  margin-top: 30rem

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 55px

/*
 * HUNCH GIRL AND THE CROW WILL CARRY YOU OUT
 */

#hunch-girl-and-the-crow-will-carry-you-out
  @include setbg('hunch-girl-and-the-crow-will-carry-you-out.jpg')
  padding-top: 20rem

.hunch-girl-and-the-crow-will-carry-you-out
  @extend .ptd-squared
  @include push(5)
  margin-top: 40rem

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 55px

/*
 * WHY WAS THE MAGELLAN THAT CARTOGRAPHED THIS PLACE
 */

#who-was-the-magellan-that-cartographed-this-place
  @include setbg('who-was-the-magellan-that-cartographed-this-place.jpg')
  margin-top: 6rem

.who-was-the-magellan-that-cartographed-this-place
  @extend .ptd-paragraphs
  margin-top: 68rem

/*
 * YOU-MUST-ALSO-HAVE-A-MINERAL-NATURE
 */

#you-must-also-have-a-mineral-nature
  height: 700px
  @include setbgwide('you-must-also-have-a-mineral-nature.jpg')

  img
    position: absolute
    top: -150px
    left: 800px
    z-index: 1

.you-must-also-have-a-mineral-nature
  @extend .ptd-squared
  @include push(2)
  margin-top: 30px

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 46px

/*
 * THE CAT LIVES BEHIND
 */

#the-cat-lives-behind
  overflow: hidden
  height: 1340px
//   // height: 2667px
//   // @include setbgwide('the-cat-lives-behind.jpg')

.the-cat-lives-behind
  @extend .ptd-squared
  @include push(8)
  margin-top: 20rem

  .cat-1
    position: absolute
    top: -100px
    left: -800px
    z-index: 2

  .cat-2
    position: absolute
    top: -200px
    left: -1000px
    z-index: 3

/*
 * NOW A NOTE ON THE WORLD ECONOMY
 */

[class*="soul-"]
  position: absolute

[class*="soul-1-"]
  width: 42px
  height: 64px

[class*="soul-2-"]
  width: 59px
  height: 58px

[class*="soul-3-"]
  width: 80px
  height: 90px

[class*="soul-4-"]
  width: 59px
  height: 58px

[class*="soul-5-"]
  width: 81px
  height: 90px

.soul-1-1
  top: -100px
  left: -124px

.soul-1-2
  top: 0px
  left: 200px

.soul-1-3
  top: 0px
  left: 621px

.soul-1-4
  top: 0px
  left: 943px

.soul-1-5
  top: 0px
  left: 87px

.soul-1-6
  top: 0px
  left: 1107px

.soul-1-7
  top: 600px
  left: -87px

.soul-1-8
  top: 800px
  left: 331px

.soul-2-1
  top: -200px
  left: 1018px

.soul-2-2
  top: 0px
  left: 348px

.soul-3-1
  top: -2000px
  left: 847px

.soul-3-2
  top: 1200px
  left: 160px

.soul-4-1
  top: 0px
  left: 187px

.soul-4-2
  top: 0px
  left: 401px

.soul-4-3
  top: 0px
  left: 681px

.soul-5-1
  top: 0px
  left: 500px

.now-a-note-on-the-world-economy
  @extend .ptd-paragraphs
  margin-top: 40rem

/*
 * HE IS WILLING AND FERVENT HE TEASES
 */

// #he-is-willing-and-fervent-he-teases

.he-is-willing-and-fervent-he-teases
  @extend .ptd-squared
  position: absolute
  top: 575px
  right: 0px

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 55px

[class*="bugzilla"]
  position: absolute

.bugzilla-1
  top: 0px
  left: 646px

.bugzilla-2
  top: 800px
  left: 530px

.bugzilla-3
  top: 560px
  left: 45px

.bugzilla-4
  top: 0px
  left: -100px

.bugzilla-5
  top: 1300px
  right: 0px

.bugzilla-6
  top: 340px
  left: 460px

.bugzilla-7
  top: 961px
  left: 424px

/*
 * DEMON IS A STUPID WORD
 */

#demon-is-a-stupid-word
  background: linear-gradient(to right,#040001,rgba(4,0,1,0) 20%,rgba(4,0,1,0) 80%,#040001) 50%/1500px 1500px no-repeat,linear-gradient(#040001,rgba(4,0,1,0.7) 20%,rgba(4,0,1,0) 50%, rgba(4,0,1,0) 80%,#040001) 50%/1500px 1500px no-repeat,url(../../../../images/chapbooks/prepare-to-die/demon-is-a-stupid-word.jpg) 50%/1500px 1500px no-repeat

.demon-is-a-stupid-word
  @extend .ptd-squared
  @include push(7)
  margin-top: 10rem

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 49px

/*
 * GHOSTS ARE WHERE TEH BODIES BLED OUT
 */

#ghosts-are-where-the-bodies-bled-out
  background: url($path+'ghosts-are-where-the-bodies-bled-out.jpg') no-repeat
  background-size: 800px
  background-position: 50% 10rem

.ghosts-are-where-the-bodies-bled-out
  @extend .ptd-paragraphs
  @include push(3)
  margin-top: 44rem

/*
 * HERE, THE FRAME RATE CHUGS PROCESSING A DEEP BLACK
 */

#here-the-frame-rate-chugs-processing-a-deep-black
  overflow: hidden
  height: 1075px

  img
    width: 2000px
    position: absolute
    top: 0px
    left: 0px
    z-index: 1

  .container
    display: none

.here-replacement
  @extend .ptd-squared
  left: 206px
  margin-top: 9rem
  z-index: 2
  -webkit-backface-visibility: hidden
  -webkit-transform-style: preserve-3d
  -webkit-transform: rotateZ(3.5deg)
  -moz-transform: rotateZ(3.5deg)
  transform: rotateZ(3.5deg)

  p:nth-of-type(2), p:nth-of-type(3), p:nth-of-type(4)
    margin-left: 55px

/*
 * Evil does not work like a network
 */

#evil-does-not-work-like-a-network
  background: linear-gradient(to right,$black,$blackt 20%,$blackt 80%,$black),linear-gradient($black,$blackt 20%,$blackt 80%,$black)

  video.evil-does-not-webm
    position: absolute
    top: 0px
    left: 0px
    z-index: 1
    width: 100%

.evil-does-not-work-like-a-network
  @extend .ptd-paragraphs
  top: 50%
  margin-top: -50px
  margin-left : 10rem
  z-index: 2


/*
 * ACKNOWLEDGEMENTS
 */

#acknowledgements
  height: 1000px
  padding-top: 12rem

  h1, h2
    text-align: center

  h1
    @include oswald(6)
    color: white

  h2
    @include oswald(3)
    color: $red
    margin-bottom: 6rem

  .ack-left
    @include span(4 of 12)
    @include push(2)

  .ack-right
    @include span(4 of 12)

  .ack-center
    @include span(6)
    @include push(3)
    margin-top: 4rem
    margin-bottom: 8rem

  p
    color: white

  .phoenix-down
    width: 60px
    display: block
    margin: 0 auto 6rem auto
