/*
 * Theme Name: Cartridge Lit
 * Theme URI: http://underscores.me/
 * Author: Joel Hans
 * Author URI: http://underscores.me/
 * Description: A theme for Cartridge Lit.
 * Version: 1.0
 * License: GNU General Public License
 * License URI: license.txt
 * Text Domain: cartridge-lit
 * Domain Path: /languages/ */

$yellow  : #ECD078
$orange  : #D95B43
$red     : #C02942
$purple  : #542437
$blue    : #53777A
$lgray   : #999
$dgray   : #303030

@import "../vendor/reset"
@import "../vendor/bourbon/bourbon"
@import "susy"
@import "mixins"
@import "typography"

$susy: ( columns: 12, gutters: .5, gutter-position: split )

html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  // background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../../images/bg_pixels.png')
  background: white
  overflow-x: hidden

/*
 * HEADER
 */

@import "header"

/*
 * THE PAGE
 */

#page
  @include container(70em)
  @include px-rem(margin-top, 4)

/*
 * LOOPS
 */

@import "loops"

/*
 * STORIES
 */

@import "stories"

/*
 * FEATURED POSTS
 */

@import "featured"

/*
 * SIDEBAR
 */

.sidebar
  @include span(3 of 12)

  [class^="sidebar"]
    border-bottom: 1px solid transparentize($lgray, 0.8)
    &:last-of-type
      border-bottom: 0

    padding-top: 0.8rem
    padding-bottom: 0.8rem
    &:first-of-type
      padding-top: 0

    h1
      @include ubuntu(1.2)
      @include px-rem(margin-bottom, 0.8)
      color: $purple
    p
      @include crimson(1)
      margin-bottom: 0

  .sidebar-search
    input.search-submit
      position: absolute
      top: 0px
      right: 0px

  .sidebar-about p a
    @include ubuntu(0.8)

  .sidebar-social, .sidebar-cats, .sidebar-tags
    a
      display: inline-block
      @include ubuntu(0.9)
      @include px-rem(margin-right, 1)

  .sidebar-archive
    ul
      list-style-type: none
      margin-bottom: 0
    li
      @include ubuntu(0.9)

/*
 * CONTENT / SINGLE POST
 */

@import "content-single"

/*
 * CONTENT / SINGLE PAGE
 */

article.page
  @include span(8 of 12)
  @include push(2 of 12)

  h1.entry-title
    text-align: center
    margin-bottom: 4rem

/*
 * AIRSHIP
 */

.airship
  @include span(9)

.airship-desc
  @include ubuntu(1)
  color: $orange
  @include px-rem(margin-bottom, 2)

/*
 * ARCHIVES
 */

.archives
  @include span(9)

  > h1
    text-align: center
    @include px-rem(margin-bottom, 4)

/*
 * MASTHEAD
 */

@import "masthead"

/*
 * FOOTER
 */

@import "footer"

/*
 * ALL CONTENT PAGES
 */

.entry-content img
  max-width: 100%
  height: auto

.entry-content img.aligncenter
  display: block
  margin: 0 auto

iframe
  max-width: 100%

hr
  position: relative
  height: 20px
  border: 0
  background: url('../../images/cartridge_lit_logo.png')
  background-size: 20px 20px
  background-repeat: no-repeat
  background-position: 50%
  margin-top: 2.4rem
  @include margin-bottom(2.4)

  &:before
    content: ''
    position: absolute
    left: 42%
    display: block
    width: 20px
    height: 20px
    background: url('../../images/cartridge_lit_logo.png')
    background-size: 20px 20px

  &:after
    content: ''
    position: absolute
    right: 42%
    display: block
    width: 20px
    height: 20px
    background: url('../../images/cartridge_lit_logo.png')
    background-size: 20px 20px

/*
 * ISSUES
 */

@import "issues/2015june"
@import "issues/2016january"
@import "issues/2016april"
@import "issues/2016october"

/*
 * 404
 */

.error-404
  @include span(9 of 12)

  h1
    @include px-rem(margin-bottom, 1)

  .search-form
    @include px-rem(margin-bottom, 2)

  .error-404-recent
    @include ubuntu(1.5)
    @include px-rem(margin-bottom, 1)

/*
 * SEARCH RESULTS
 */

.search-page
  @include span(9 of 12)

  > h1
    @include px-rem(margin-bottom, 1)

/*
 * ETC STANDARDS
 */

/* search form */
form.search-form
  position: relative

  span
    display: none

  input
    border: 1px solid $lgray
    border-radius: 0
    margin: 0

  input.search-field
    max-width: 100%
    @include ubuntu(0.9)
    padding: 8px
    color: $purple

  input.search-submit
    position: relative
    right: 10px
    @include ubuntu(0.9)
    padding: 8px 6px 8px 6px
    color: $red
    border: 1px solid $purple
    background: white
    &:hover
      color: $purple
      cursor: pointer

/*
 * RESPONSIVE
 */

@import "responsive"
