/*
 * JANUARY 2016
 */

$three-background    : #373B44
$three-primary       : #E1B866
$three-secondary     : #DEE1B6
$three-contrast      : #73C8A9

// FRONT PAGE
.post-featured .featured-issue.issue-solstice,
.issue-solstice
  @include span(12 of 12)
  height: 300px
  margin-top: 3rem
  background: $three-background
  text-align: center
  .issue-content
    position: relative
    top: 50%
    @include transform(translateY(-50%))
  h1
    @include crimson(3)
    a
      color: $three-primary
      &:hover
        color: $three-contrast
  p
    color: $three-contrast
    margin-bottom: 0rem
    &:last-of-type
      margin-bottom: 1.2rem
  a.issue-bottom
    position: relative
    @include pixel-link(14, 1, $three-secondary)
    display: inline-block
    transition: opacity 0.3s ease-in-out
    &:hover
      @include pixel-link(14, 1, $three-contrast)

// ISSUE PAGE

body[class*="issues2016-april"]
  background: $three-background
  color: $dgray
  text-align: center

  .issue-header
    @include span(12 of 12)
    margin: 6rem 0 10rem 0
    text-align: center

    h1
      @include crimson(3)
      color: $three-primary

    h2
      @include ubuntu(1.2)
      color: $three-secondary

  article
    position: relative
    @include span(4 of 12 inside no-gutters)
    height: 300px
    padding: 2rem

    div
      display: block
      position: relative
      top: 50%
      transform: translateY(-50%)

    .issue-piece-title
      @include crimson(2.6)
      line-height: 2.2rem
      margin-bottom: 2rem
      a
        color: $three-primary
        &:hover
          color: $three-contrast

    .issue-piece-author
      display: block
      @include ubuntu(1.1)
      color: $three-secondary

    .issue-piece-genre
      display: block
      // margin-left: 2rem
      @include ubuntu(1.1)
      a
        color: $three-contrast
        &:hover
          color: $three-secondary

    .issue-piece-excerpt
      position: relative
      height: 200px
      overflow: hidden
      color: $three-contrast

    a.issue-piece-read
      position: relative
      top: -3px
      @include pixel-link(10, 0.6, $three-primary)
      display: inline-block
      margin-left: 1rem
      padding: 0.2rem 0.3rem
      &:hover
        @include pixel-link(10, 0.6, $three-contrast)
        padding: 0.2rem 0.3rem

    .issue-piece-title a
      color: #373B44
      &:hover
        color: #BD5532

    .issue-piece-author
      color: #BD5532

    .issue-piece-genre a
      color: #BD5532
      &:hover
        color: #373B44

  article:nth-of-type(1), article:nth-of-type(6), article:nth-of-type(8), article:nth-of-type(10)
    background: $three-primary

    .issue-piece-author
      color: $three-secondary

    .issue-piece-genre a
      color: $three-secondary
      &:hover
        color: #373B44

  article:nth-of-type(2), article:nth-of-type(4), article:nth-of-type(9), article:nth-of-type(11)
    background: $three-secondary

    .issue-piece-author
      color: $three-contrast

    .issue-piece-genre a
      color: $three-contrast
      &:hover
        color: #373B44

  article:nth-of-type(3), article:nth-of-type(5), article:nth-of-type(7), article:nth-of-type(12), article:nth-of-type(13)
    background: $three-contrast

    .issue-piece-author
      color: $three-secondary

    .issue-piece-genre a
      color: $three-secondary
      &:hover
        color: #373B44

  article:last-of-type
    margin-left: span(4 of 12 inside no-gutters)

.issue-back.back-solstice
  a
    @include pixel-link(18, 1.1, $three-primary)
    &:hover
      @include pixel-link(18, 1.1, $three-contrast)
